<div class="formula <%= cycle 'even', 'odd' %>">
    <span class="name"><%= formula.name %></span><br />
    Current version: <span class="version"><%= formula.version %></span><br />
    Homepage: <%= link_to formula.homepage %>
</div>
