<div class="formula <%= cycle 'even', 'odd' %>">
    <%= link_to formula.name, formula, :class => 'formula' %><br />
    Current version: <strong class="version"><%= formula.version %></strong><br />
    Homepage: <%= link_to formula.homepage %>
</div>
