@import url(http://fonts.googleapis.com/css?family=Neuton:400,800);

html {
  background: #353030;
  width:      100%;
}

body {
  color:       #a15f11;
  font-family: Helvetica, sans-serif;
  margin:      2em 0 1em 5em;
  width:       980px;
}

a {
  color:           #dd9800;
  font-style:      normal;
  font-weight:     bold;
  text-decoration: none;
}

a:hover, a:active {
  color: #ffb !important;
}

div#basic h2:last-child {
  margin-bottom: 0.2em;
}

div#basic, div#last-change, div#history {
  background:    #595945;
  border-radius: 4px;
  box-shadow:    #232020 3px 3px 3px;
  padding:       0.8em !important;
  margin:        1em 0.5em;

  -moz-border-radius:    4px;
  -moz-box-shadow:       #232020 3px 3px 3px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow:    #232020 3px 3px 3px;
}

div#change-info {
  padding-left: 2em !important;
}

div#basic a:hover, div#change-info a:hover {
  color: #ffb;
}

div#content {
  background:    #47463b;
  border:        2px solid #ffb;
  border-radius: 4px 4px 0 0;
  box-shadow:    #000 4px 4px 4px;
  color:         #b5af87;
  padding:       1em 3.5em;
  text-align:    justify;

  -moz-border-radius:    4px 4px 0 0;
  -moz-box-shadow:       #000 4px 4px 4px;
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-box-shadow:    #000 4px 4px 4px;
}

div#content a.formula {
  color:       #dd9800;
  font-family: 'Neuton', serif;
  font-size:   1.8em;
  text-shadow: 1px 1px 1px #000000;
}

div#content a.formula:hover {
  color: #ffb;
}

div#content div {
  padding: 0.5em 0.5em 1em 0.5em;
}

div#content, div#footer {
  box-shadow: #000 4px 4px 4px;

  -moz-box-shadow: #000 4px 4px 4px;
  -webkit-box-shadow: #000 4px 4px 4px;
}

div#content div.formula {
  border-left:  2px solid #a15f11;
  border-right: 2px solid #a15f11;
  border-top:   2px solid #a15f11;
  color:        #b5af87;
  font-size:    0.8em;
}

div#content div.formula.even {
  background: #47463b;
}

div#content div.formula.odd {
  background: #595945;
}

div#content div.formula strong.version {
  color: #dd9800;
}

div#content div.formula a {
  font-weight: normal;
}

div#content div.listing {
  padding:    2em 0;
}

div#content nav + div.listing {
  padding: 0;
}

div#content div.listing div.formula:last-child {
  border-bottom: 2px solid #a15f11;
}

div#content div.error {
  font-weight: bold;
  text-align:  center;
}

div#flash-error, div#flash-notice {
  border:        2px solid;
  border-top:    none !important;
  border-radius: 0 0 5px 5px;
  font-family:   'Helvetica', sans-serif;
  font-size:     12pt;
  font-weight:   bold;
  left:          -2em;
  margin:        -1em 0 0 289px;
  padding:       2px !important;
  position:      absolute;
  text-align:    center;
  width:         588px;

  -moz-border-radius:    0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

div#flash-error {
  background:   #f99;
  border-color: #a00 !important;
  color:        #a00;
}

div#flash-notice {
  background:   #9f9;
  border-color: #0a0 !important;
  color:        #0a0;
}

div#footer {
  background:    #232020;
  border-radius: 0 0 4px 4px;
  color:         #b5af87;
  font-size:     10pt;
  padding:       0.5em 0;
  text-align:    center;
}

div#header {
  text-align:  right;
  font-family: 'Neuton', 'Times New Roman', serif;
  font-size:   7em;
  font-weight: bolder;
  text-shadow: #000 10px 10px 1px;
}

div#header a {
  color:           #dd9800;
  text-decoration: none;
}

div#header img {
  margin: -0.2em -0.5em 0 -0.1em;
}

div#history table {
  border-collapse: collapse;
  width:           100%;
}

div#history td {
  font-size:      10pt;
  padding:        1pt 3pt;
  position:       relative;
  vertical-align: top;
}

div#history td.author {
  font-weight:    bold;
}

div#history td.subject {
  font-family: monospace;
  font-size:   9pt;
  width:       60%;
}

div#history tr:not(:last-child) {
  border-bottom: 1px solid #595945;
}

div#history tr:hover {
  background: #737359;
  color:      #ffb;
}

div#history a {
  height:   100%;
  position: absolute;
  width:    100%;
}

div#last-change strong.subject {
  display:       block;
  font-family:   monospace;
  margin-bottom: 1em;
  padding-left:  1em;
}

div#social {
  float:       left;
  font-size:   10pt;
  line-height: 1em;
}

div#header div#social {
  margin: 5em 0 0 2em;
}

div#timestamps {
  color:       #b5af87;
  font-family: 'Helvetica', sans-serif;
  font-size:   9pt;
}

h1 {
  color:           #dd9800;
  border-bottom:   2px solid #b5af87;
  font-family:     'Neuton', serif;
  font-size:       28pt;
  line-height:     28pt;
  text-decoration: none;
  text-shadow:     #000 2px 2px 1px;
}

h2 {
  color:     #ffb;
  font-size: 15pt;
  margin:    0 0 1em 0;
}

h2 em {
  color:       #dd9800;
  text-shadow: #000 2px 2px 1px;
}

img {
  border: none;
}

img#github-ribbon {
  border:   none;
  left:     0;
  position: absolute;
  top:      0;
  z-index:  -1;
}

input {
  background:    #232020;
  border:        1px solid #a15f11;
  border-radius: 5px;
  color:         #dd9800;
  font-size:     12pt;
  margin:        1.5em 0;

  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}

input.inactive {
  color: #555050;
}

nav {
  margin:     0.5em 0;
  text-align: center;
}
